requests>=2.23.0
sgqlc @ https://github.com/profusion/sgqlc/archive/433f41389af0208aa6c2744877b331b35f75ffe4.zip

# testing requirements
flake8>=3.8.2
flake-import-order>=0.18.1
pytest>=5.3.5
pytest-cov>=2.8.1
python-env>=1.0.0
sphinx>=3.1.1
vcrpy>=4.0.2