interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apitest.mysurvey.solutions/api/v1/questionnaires/ecb715a3-e856-48d7-9f81-35dc3bb6a301/1/document
  response:
    body:
      string: "{\r\n  \"Id\": \"1a84004422df4f59ab097aead0e89200\",\r\n  \"Revision\":
        83,\r\n  \"Children\": [\r\n    {\r\n      \"$type\": \"Group\",\r\n      \"Children\":
        [\r\n        {\r\n          \"$type\": \"SingleQuestion\",\r\n          \"ShowAsList\":
        false,\r\n          \"Answers\": [\r\n            {\r\n              \"AnswerText\":
        \"Yes\",\r\n              \"AnswerValue\": \"1\"\r\n            },\r\n            {\r\n
        \             \"AnswerText\": \"No\",\r\n              \"AnswerValue\": \"2\"\r\n
        \           }\r\n          ],\r\n          \"Children\": [],\r\n          \"ConditionExpression\":
        \"\",\r\n          \"HideIfDisabled\": false,\r\n          \"Featured\": false,\r\n
        \         \"Properties\": {\r\n            \"HideInstructions\": false,\r\n
        \           \"UseFormatting\": false,\r\n            \"OptionsFilterExpression\":
        \"\"\r\n          },\r\n          \"PublicKey\": \"931420c5-8ec7-fd19-9db7-49a8f4851602\",\r\n
        \         \"QuestionScope\": 0,\r\n          \"QuestionText\": \"1. Do you
        agreee to participate in this survey?\",\r\n          \"QuestionType\": 0,\r\n
        \         \"StataExportCaption\": \"Q01\",\r\n          \"IsFilteredCombobox\":
        false,\r\n          \"IsTimestamp\": false,\r\n          \"ValidationConditions\":
        [],\r\n          \"VariableName\": \"Q01\"\r\n        }\r\n      ],\r\n      \"ConditionExpression\":
        \"\",\r\n      \"HideIfDisabled\": false,\r\n      \"IsFlatMode\": false,\r\n
        \     \"IsPlainMode\": false,\r\n      \"DisplayMode\": 0,\r\n      \"Enabled\":
        true,\r\n      \"Description\": \"\",\r\n      \"VariableName\": \"\",\r\n
        \     \"IsRoster\": false,\r\n      \"CustomRosterTitle\": false,\r\n      \"RosterSizeSource\":
        0,\r\n      \"FixedRosterTitles\": [],\r\n      \"PublicKey\": \"4b146ee1-7dad-b970-8ad3-0569fb4263ab\",\r\n
        \     \"Title\": \"Intoduction\"\r\n    },\r\n    {\r\n      \"$type\": \"Group\",\r\n
        \     \"Children\": [\r\n        {\r\n          \"$type\": \"SingleQuestion\",\r\n
        \         \"ShowAsList\": false,\r\n          \"Answers\": [\r\n            {\r\n
        \             \"AnswerText\": \"Yes\",\r\n              \"AnswerValue\": \"1\"\r\n
        \           },\r\n            {\r\n              \"AnswerText\": \"No\",\r\n
        \             \"AnswerValue\": \"2\"\r\n            },\r\n [...]
