interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apitest.mysurvey.solutions/api/v1/interviews?page=1&pageSize=10&questionnaireId=ecb715a3-e856-48d7-9f81-35dc3bb6a301
  response:
    body:
      string: '{"Interviews":[{"FeaturedQuestions":[],"InterviewId":"fdd62d6c-c8a3-4737-ac76-26125f0b9d82","QuestionnaireId":"ecb715a3-e856-48d7-9f81-35dc3bb6a301","QuestionnaireVersion":1,"AssignmentId":2,"ResponsibleId":"c6060a20-18a0-4118-b6f0-650c6c27efb6","ResponsibleName":"Interviewer1","ErrorsCount":0,"Status":"InterviewerAssigned","LastEntryDate":"2020-02-21T22:06:29.28164","ReceivedByDevice":false}],"Order":null,"Limit":10,"TotalCount":1,"Offset":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
