interactions:
- request:
    body: '{"query": "query {\ninterviews(take: 20, skip: 0, where: {questionnaireId:
      \"ecb715a3e85648d79f8135dc3bb6a301\"}) {\nfilteredCount\nnodes {\nid\nquestionnaireId\nquestionnaireVersion\nassignmentId\nresponsibleId\nerrorsCount\nstatus\n}\n}\n}",
      "variables": null, "operationName": null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://apitest.mysurvey.solutions/graphql
  response:
    body:
      string: '{"data":{"interviews":{"filteredCount":1,"nodes":[{"id":"fdd62d6cc8a34737ac7626125f0b9d82","questionnaireId":"ecb715a3e85648d79f8135dc3bb6a301","questionnaireVersion":1,"assignmentId":2,"responsibleId":"c6060a2018a04118b6f0650c6c27efb6","errorsCount":0,"status":"INTERVIEWERASSIGNED"}]}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
