name: Python package

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --show-source --statistics

      - name: Test with pytest
        run: |
          pytest --cov=ssaw --cov-report=xml --junitxml=pytests.xml

      - name: Persist code coverage results
        if: ${{ matrix.python-version == '3.13' }}
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: |
            coverage.xml
            pytests.xml

  analyze:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download code coverage results
        uses: actions/download-artifact@v4.1.7
        with:
          name: coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
          fail_ci_if_error: true
          verbose: true
